* {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
}
.header {
  /* border: 1px solid rgb(255, 0, 0); */
  /* height: 10%; */
}
.logoBox {
  /* border: 1px solid red; */
  padding-bottom: 15px;
}
.navbarTop {
  position: fixed;
  z-index: 200;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  /* height: 60px; */
  background: radial-gradient(
    circle at center,
    rgb(67, 180, 255),
    rgb(36, 120, 255),
    rgb(8, 83, 204)
  );
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
.navBtn {
  width: 30%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  border: 0;
  background-color: rgb(113, 198, 255);
  border-radius: 50px;
  /* border: 1px solid red; */
}
.navbar-nav {
  padding-right: 4px;
  padding-left: 4px;
  font-size: 20px;
  /* border: 1px solid red; */
}

.nav-link {
  color: rgb(255, 255, 255);
  /* border-radius: 15px; */
}
.nav-link:hover {
  color: rgb(36, 120, 255);
  /* background-color: #fff; */
  border-radius: 15px;
  font-weight: 1000;
}
/* 以上navbar */
.carousel-item {
  width: 100%;
  align-content: center;
}

.carousel {
  margin-top: 165px;
}
/* mainbg */
.carousel::before {
  content: "一家人如何解開長年心結的故事";
  /* border: 5px solid rgba(255, 255, 255, 0.5); */
  background-color: rgba(66, 66, 66, 0.5);
  top: 0%;
  left: 3%;
  position: absolute;
  width: 280px;
  height: 80px;
  z-index: 50;
  border-radius: 30px;
  text-align: center;
  padding-top: 28px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: 900;
}
.btn1 {
  background-color: rgb(47, 47, 47, 0.5);
  color: rgb(255, 255, 255);
  border: 0;
  font-weight: 700;
  font-size: 14px;
  width: 180px;
}
.btn1:hover {
  background-color: rgb(36, 120, 255);
  font-weight: 700;
  border: 0;
}
.btn1:hover {
}
.btn-group {
  /* border: 1px solid rgb(0, 0, 0); */
  /* width: 100%; */
  /* width: 1200px; */
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 70px;
}
.cardRowP2 {
  display: flex;
  /* border: 1px solid red; */
  margin-top: 10px;
}
.cardRowPg3 {
  display: flex;
}
.card-body {
  border: 0px;
}
.card {
  border: 0;
  text-align: center;
  padding-right: 5px;
}
.textContent1 {
  padding-top: 200px;
  padding-bottom: 200px;
  /* border: 1px solid red; */
  text-align: left;
}

.card-title {
  font-weight: 900;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  /* border: 2px solid rgb(36, 120, 255); */
  border-radius: 50px;
  width: 160px;
  height: 50px;
  background-color: rgb(36, 120, 255);
}
.card-title1 {
  font-weight: 900;
  color: rgb(36, 120, 255);
  /* background: rgb(36, 120, 255); */
  border-radius: 10px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.card-text {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: rgb(88, 88, 88);
  line-height: 1.8;
  letter-spacing: 1.2px;
}
.card-title:hover {
  opacity: 0.5;
}
.cardTitleA,
.cardTitleB,
.cardTitleC {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.card-textA,
.card-textB,
.card-textC {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: rgb(88, 88, 88);
  line-height: 1.8;
  letter-spacing: 1.2px;
}
.worksThree {
  overflow: hidden;
  padding-bottom: 80px;
}

.animatBall {
  top: 0%;
  position: absolute;
  left: 90%;
  animation: airBall 5s 0.2s infinite linear;
  overflow: hidden;
}
@keyframes airBall {
  0% {
    transform: translate(10%, 10%) rotate(20deg);
    opacity: 0;
    width: 20%;
  }
  100% {
    transform: translate(-70%, 80%) rotate(50deg);
    opacity: 1;
    width: 33%;
  }
}
.familyGif {
  width: 95%;
}
.card-infoA,
.card-infoB,
.card-infoC {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: rgb(88, 88, 88);
  line-height: 1.8;
  letter-spacing: 1.2px;
}
.card-titleJsA,
.card-titleJsB,
.card-titleJsC {
  background-color: rgb(36, 120, 255);
  width: 160px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.card-titleJsC:hover {
  opacity: 0.6;
}
.card-titleJsB:hover {
  opacity: 0.6;
}
.card-titleJsA:hover {
  opacity: 0.6;
}
.lineOne {
  width: 100%;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 36, 94);
}
.socialBg {
  position: relative;
  overflow: hidden;
}
.addBox {
  /* width: 360px; */
  position: absolute;
  z-index: 50;
  top: 75%;
  left: 2%;
}
.imgBox {
  display: flex;
  align-items: space-around;
  /* flex-direction: column; */
}
.addicon {
  width: 100px;
  cursor: pointer;
}
.card-infoD {
  font-weight: 600;
  background-color: rgb(36, 120, 255, 0.7);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  display: none;
}
.addicon:hover {
  opacity: 0.5;
  width: 240px;
}
.addicon::after {
  content: "+";
  color: #fff;
  font-size: 80px;
  position: absolute;
  /* border: 1px solid red; */
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.addBtnBox {
  z-index: 100;
}
.addButton {
  cursor: pointer;
}
.addButton:hover {
  opacity: 0.6;
}
.addBtnBox {
  position: absolute;
  top: -5%;
  left: 2%;
  display: flex;
}
.card-infoE {
  font-weight: 600;
  background-color: rgb(36, 120, 255, 0.7);
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 20px;
  display: none;
}
.card-titleKOne1,
.card-titleKOne2 {
  font-weight: 900;
  color: #fff;
  background: rgb(36, 120, 255);
  border-radius: 10px;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.aa {
  /* border: 1px solid red; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgb(36, 120, 255);
}
@media (max-width: 600px) {
  .container {
    width: 80%;
  }
  a {
    font-size: 20px;
  }
  p {
    font-size: 9px;
  }
  h5 {
    font-size: 10px;
  }
  .box {
    width: 50%;
  }
  .mail {
    width: 50%;
  }
  .header {
    width: 50%;
  }
  .footer {
    width: 100%;
    height: 10%;
  }
  .logoHome {
    width: 100%;
  }
  .navbar-nav {
    padding: 0;
  }
  .nav-item {
    width: 15%;
    /* border: 1px solid orange; */
    font-size: 110px;
  }
  .nav-link {
    /* border: 1px solid red; */
    height: 25px;
  }
  .navBtn {
    width: 200%;
    /* height: 20%; */
    background-color: rgb(149, 213, 255);
  }
  .nav-link {
    /* width: 0%; */
  }
  .h1 {
    width: 20%;
  }
  .card {
    width: 200%;
  }
  .mainBackground::before,
  .mainBackground::after {
    display: none;
  }
  .cardRow {
    left: 0;
    /* border: 1px solid red; */
    /* background-color: aqua; */
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .title1 {
    font-size: 20px;
  }
  .card-img-top {
    left: 0%;
    align-content: center;
    width: 300%;
    /* border: 1px solid blue; */
  }
  .infoTextContent {
    text-align: center;
    width: 400%;
    /* border: 1px solid yellow; */
  }
}
